# SPDX-FileCopyrightText: none
#
# SPDX-License-Identifier: CC0-1.0
.import/
.mono/
.plugged/
.venv/
addons/*
!addons/gd-plug
!addons/glam
logs/
/scratch/
mono_crash.*
todo.gd
.gut_editor_config.json
*.swp
