# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

# Properly detect languages on Github.
*.gd linguist-language=GDScript

# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# The above only works properly for Git 2.10+, so for older versions
# we need to manually list the binary files we don't want modified.
*.mp3 binary
*.png binary

# Exclude all top-level files and directories (except addons) from zip downloads.
# This makes installing through the AssetLib easier, because no files and folders
# need to be unchecked.
/**				        export-ignore
/addons/glam			!export-ignore
/addons/glam/**			!export-ignore